<?xml version="1.0" encoding="utf-8"?>
<!-- 
Author: Jan-Philipp Roslan 
Version: 1.0.0

This is the NuGet Config file for brandgroup.
-->
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="brandgroup GitHub" value="https://nuget.pkg.github.com/brandgroup/index.json" />
		<add key="nuget.devexpress.com" value="https://nuget.devexpress.com/QGjB4QOVjQZyEfXap6PK1dtMRCN5AhT41DDDIuRpHa9GNSjNE8/api/v3/index.json" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="xunit.*" />
			<package pattern="xunit" />
			<package pattern="NuGet.*" />
			<package pattern="NETStandard.Library" />
			<package pattern="coverlet.collector" />
			<package pattern="Microsoft.*" />
			<package pattern="System.*" />
			<package pattern="Serilog.*" />
			<package pattern="Serilog" />
			<package pattern="CommunityToolkit.*" />
			<package pattern="Roslan.*" />
			<package pattern="MySql.*" />
			<package pattern="Newtonsoft.*" />
			<package pattern="runtime.*" />
			<package pattern="Azure.*" />
			<package pattern="BouncyCastle.Cryptography" />
			<package pattern="DevExtreme.AspNet.Data" />
			<package pattern="Dapper" />
			<package pattern="Google.Protobuf" />
			<package pattern="K4os.Compression.LZ4" />
			<package pattern="K4os.Compression.LZ4.Streams" />
			<package pattern="K4os.Hash.xxHash" />
			<package pattern="ZstdSharp.Port" />
			<package pattern="Portable.BouncyCastle" />
		</packageSource>
		<packageSource key="brandgroup GitHub">
			<package pattern="Brandgroup.*" />
		</packageSource>
		<packageSource key="nuget.devexpress.com">
			<package pattern="DevExpress.*" />
		</packageSource>
	</packageSourceMapping>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="%BRANDGROUP_GITHUB_IT_USERNAME" />
			<add key="ClearTextPassword" value="%BRANDGROUP_GITHUB_PACKAGES_PAT%" />
		</github>
	</packageSourceCredentials>
</configuration>